body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h2 {
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav {
  height: 63px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .logo {
  margin-top: 18px;
}
header .search {
  background: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .search p {
  margin-left: 17px;
}

main {
  display: flex;
  flex-direction: column;
}
main section {
  text-align: center;
  background-color: #f3f3f3;
}
main section h2 {
  margin-bottom: 12px;
  margin-top: 39px;
}
main section h3 {
  margin-bottom: 27px;
}
main section .btn {
  height: 3rem;
  width: 13rem;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: 0;
  color: white;
  margin-bottom: 57px;
}
main article {
  background-color: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
}
main article .fonc {
  display: flex;
}
main article h2 {
  margin-bottom: 1.75rem;
  margin-top: 3rem;
}
main article .fonction {
  display: flex;
  flex-direction: column;
  height: 440px;
  gap: 3%;
}
main article .fonction .etape {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 18%;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
main article .fonction .etape:nth-child(4) i {
  color: #9356DC;
}
main article .fonction .etape:last-child {
  background-color: #F5EDFF;
}
main article .fonction .etape .fa-solid {
  color: #7E7E7E;
  margin-left: 12%;
  width: 10%;
}
main .restaurant {
  background-color: #f3f3f3;
  padding: 5%;
}
main .restaurant h3 {
  font-weight: 700;
  text-decoration: none;
}
main .restaurant h2 {
  margin-bottom: 1.2rem;
  margin-top: 2rem;
}
main .restaurant .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  text-decoration: none;
  color: black;
}
main .restaurant .card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .restaurant .card .new {
  position: absolute;
  right: 8%;
  margin-top: 3.6%;
  width: 18%;
  height: 4%;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .restaurant .card .card-photo {
  width: 100%;
  height: 20vh;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
main .restaurant .card .card-size {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
}
main .restaurant .card .card-size .text {
  margin-left: 3%;
}
main .restaurant .card .card-size .fa-heart {
  position: absolute;
  right: 10%;
  background-color: white;
  fill: red;
}
main .restaurant .card .card-size .fa-heart:hover {
  background-color: red;
}

footer {
  background-color: #353535;
  height: 24vh;
  color: white;
}
footer p,
footer .fa-solid {
  margin-bottom: 5px;
}
footer img {
  width: 25%;
}
footer .info {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 22px;
}
footer .info .svg {
  color: #FFFFFF;
  margin-bottom: 2%;
}
footer .info .info1 {
  gap: 3%;
  display: flex;
  align-items: center;
}
footer .info .info1 .fa-solid {
  width: 4%;
}/*# sourceMappingURL=style.css.map */